button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

button:active { background: rgb(0, 152, 20); }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table {
    text-align: center;
    border-collapse: collapse;
    width: 70%;
    margin: 5% 0;
}


td {
    padding: 11px;
    width: 33%;
}